.outbox{
	width: 620px;
	margin: auto;
	margin-top: 100px;
	text-align: center;
}
 label{
	display: block;
	margin: auto;
	margin-bottom: 20px;
}
 label span{
	display: inline-block;
	width: 100px;
	text-align: right;
 }
#mobile,#password,#confirmPsw{
	display: inline-block;
	margin: auto;
	width:300px;
	height: 40px;
	line-height: 40px;
	text-indent: 1em;
	border: 1px solid #ddd;
	margin-left: 20px;
}
 label input[type=submit]{
	display: inline-block;
	margin: auto;
	width:300px;
	height: 40px;
	line-height: 40px;
	text-indent: 1em;
	border: 1px solid #00bfb8;
	color: #fff;
	background: #00bfb8;
	margin-left: 124px;
	cursor: pointer;
}
 label #validcode{
	display: inline-block;
	margin: auto;
	width: 144px;
	height: 40px;
	text-indent: 1em;
	line-height: 40px;
	border: 1px solid #ddd;
	margin-left: 20px
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0; 
}
 label input[type=number]+span{
	display: inline-block;
	margin: auto;
	width: 130px;
	height: 40px;
	text-indent: 1em;
	line-height: 40px;
	border: 1px solid #ddd;
	text-align: center;
	background: #ededed;
	margin-left: 20px;
}
em{
	color: red
}
label.tel-label {
	margin-bottom: 5px;
}
label:first-child .go_email{	
	margin-left: 305px;
}
label:first-child .go_email a{
	color: #00bfb8;
	margin-left: 10px;
}
.login_process img{
	display: block;
	margin: auto;
	margin-top: 71px;
}