.mainContent .main-wrapp{
	background: #ffffff;
	padding: 1em;
}
.mainContent .main-wrapp h1{
	font-size: 18px;
	padding-bottom: 1em;
}
.mainContent .main-wrapp .chart-content {
	border: 1px solid #e2e2e2;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
	border-width-top: 0px;
	min-height: 100px;
}
.mainContent .main-wrapp .chart-wrapp ul{
	border-bottom: 2px solid #cacaca;
}
.mainContent .main-wrapp .chart-wrapp ul li{
	float: left;
	line-height: 42px;
	height: 42px;
	width: 89px;
	text-align: center;
	-moz-transition:  all .3s;
    -webkit-transition:  all .3s;
    -ms-transition:  all .3s;
    position: relative;
    cursor: pointer;
}
.mainContent .main-wrapp .chart-wrapp ul li.chart-this{
	color: #f23e47;
}
.mainContent .main-wrapp .chart-wrapp ul li.chart-this:after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 43px;
    border: 1px solid #cacaca; 
    border-width: 2px 2px 1px 2px ;
    border-bottom-color: #fff;
    border-radius: 2px 2px 0 0;
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
    pointer-events: none;
}
.chart-item{
	display: none;
}
.chart-show{
	display: block!important;
}
.chart-time{
	line-height: 42px;
}
.chart-time .chart-input{
	border:1px solid #ddd;
	border-right: 0;
	width: 150px;
	height: 30px;
	line-height: 30px;
	text-indent: 1em;
	background: url(/images/manager/triangle-in.png) no-repeat right;
}
.chart-time .left input{
	margin-right: 20px;
}
.mainContent .main-wrapp table td button{
	width: 30px;
	height:30px;
}
.layui-btn-look {
	background-color:#00c0ef!important;
}
.layui-btn-look i{
	background: url(/images/manager/view.png) no-repeat center;
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 6px -6px;
}
.mainContent .main-wrapp table {
	margin: 1em 0;
	border-collapse: collapse;
	width: 100%;
}
.mainContent .main-wrapp table th{
	height: 45px;
	line-height: 45px;
	border:1px solid #dddddd;
	text-align: left;
	text-indent: 1em;
}
.mainContent .main-wrapp table td{
	text-indent: 1em;
	line-height: 45px;
	border:1px solid #dddddd;
}

em{
	color: #e70000;
}
.boot-wrapp {
	line-height: 49px;
}
.boot-wrapp .right span{
	margin-right: 80px;
}
.boot-wrapp .right .button-excel{
    background-color: #e70000;
    color: #ffffff;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: right;
    margin:  .5em;
}
.boot-wrapp .right dl{
	padding: 1em 0;
}
.boot-wrapp .right dl dt{
	margin-right: 3em;
}
.boot-wrapp .right dl dt p{
	line-height: 25px;
}