.manage_address,.comfire_info{
	margin-top: 40px;
}
.manage_address p{
	height: 40px;
	line-height: 40px;
	font-size: 14px;
}
.manage_address p:first-child,
.comfire_info p:first-child{
	font-size: 16px;
}
.manage_address p span.right{
	color: #00bfb8;
	font-size: 14px;
	margin-right: 10px;
}
.manage_address p span.right1{
	color: #00bfb8;
	font-size: 14px;
	margin-right: 10px;
}
.manage_address p input[type=radio]{
	width: 15px;height: 15px;
	margin: 0 20px;
}
.manage_address p:nth-of-type(2) span.right,
.manage_address p:nth-of-type(3) span.right{
	display: none;

}
.comfire_info table{
	margin-top: 20px;
	margin-bottom: 40px;
	width: 100%;
	border: 1px solid #ddd;
}
.comfire_info table th{
	font-weight: normal;
	height: 40px;
	line-height: 40px;
	border: 1px solid #ddd;
	border-width:0px 0px 1px 0px;
	background: #f5f8fa;
}
.comfire_info table th:first-child{
	width: 35%;
}
.comfire_info table td{
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-bottom: 1px solid #d3d7db;
}
.comfire_info table tr.cells td{
	border: 1px solid #ddd;
	border-width: 0px 0px 1px 0px;
	text-indent: 2em;
	text-align: left;
}
.comfire_info table td.total_pri{
	color: red;
}
.comfire_info table td.commodity_inof >dl dt,
.comfire_info table td.commodity_inof >dl dd{
	float: left;
}
.comfire_info table td.commodity_inof >dl dt img{
	padding: 20px 0px 20px 20px;
}
.comfire_info table td.commodity_inof >dl dd{
	padding: 20px 0px 20px 20px;
	text-align: left;
}
.comfire_info table td.commodity_inof >dl dd a{
	width: 180px;
	display: block;
	line-height: 25px;
}
.extUser{
	padding: 20px;
	line-height: 40px;
}
.extUser>.text_user>textarea{
	height: 40px;
	line-height: 40px;
	background: #ededed;
	width: 400px;
	margin: 0 20px;
}
.invoice>p{
	font-size: 16px;
}
.ul_invoice{
	border-bottom: 1px solid #ddd
}
.ul_invoice ul li{
	float: left;
	padding: 20px 0;
	margin:0 20px
}
.invoice_this{
	color: #00bfb8;
}
.order_facility .freight{
	height: 40px;
	line-height: 40px;
}
.order_facility .freight span{
	display: block;

	text-align: right;
}
.order_facility .freight span i{
	color: red;
}
.order_facility .freight p>span{
	margin-right: 100px;
}
.payinfo label{
	display: block;
	text-align: right;
	padding: 0 20px;
}
.payinfo{
	border: 1px solid #00bfb8;
	margin-top: 40px;
	min-width: 400px;
}
.payinfo > label >input[type=submit]{
	display: inline-block;
	margin: auto;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-indent: 0em;
	border: 1px solid #00bfb8;
	color: #fff;
	background: #00bfb8;
	margin-left: 10px;
}
.payinfo > label a{
	color: #00bfb8;
	background: url(/images/temp_pc/back.png) no-repeat 3px;
	text-indent: 2em;
	display: inline-block;
}
.payinfo > label.pay_total{
	margin-top: 10px;
}
.payinfo > label.pay_total b{
	color: red;
	font-size: 30px;
	font-weight: normal;
}
.payinfo > label.pay_add span,
.payinfo > label.pay_user span{
	font-weight: bold;
}
.payinfo > label.pay_add{
	margin-bottom: 10px;
}
.freight >.found{
	text-align: right;
	border-bottom:1px solid #ddd;
	display: none;
}
.freight >.found i{
	color: red;
}
.freight >.found span:last-child{
	margin-right:20px;
	font-weight: 600;
}
.freight >.found span:last-child i{
	font-weight: normal;
}
.found .first-pay{
	float: left;
	margin-left: 79%;
}
.ui.breadcrumb{
	margin: 10px 0;
	font-size: 14px;
}
.ui.breadcrumb >ul li{
	float: left;
}

.ui.breadcrumb >ul li a:hover{
	color: #00bfb8;
}
em{
	color: red;
}
.issuebox{
	margin-top: 20px;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.1),
	-2px -2px 4px rgba(0,0,0,0.1);
	padding: 30px;
}
.prod_search{
	text-align: right;
	margin:  26px 0 10px 0;
}
.prod_search .search_txt{
	width: 188px;
	height:29px;
	line-height:29px;
	text-indent: 10px;
	border: 1px solid #ddd;
}
.prod_search .search_btn{
	height:31px;
	line-height:31px;
	border: 1px solid #ddd;
	margin-left: 4px;
	background: #fff;
	cursor: pointer;
	padding:0 6px;
}
/**/
.cart_nav{
	height:40px;
	line-height:40px;
	color: #383838;
	border: 1px solid #ddd;
	border-bottom:none;
	background-color: #f5f8fa;;
}
.one_shop{
	height:130px;
	/*line-height:130px;*/
	padding: 22px 0;
	background: #fff;
	border: 1px solid #ddd;
	margin-bottom:20px;
}
.shopcart ul li{
	float: left;
}
.shopcart ul li.li1{
	width: 72px;
	text-align: center;
}
.shopcart ul li.li2{
	width: 376px;
}
.shopcart ul li.li3{
	width: 248px;
	text-align: center;
}
.shopcart ul li.li4{
	width: 120px;
	text-align: center;
}
.shopcart ul li.li5{
	width: 222px;
	text-align: center;
}
.shopcart ul li.li6{
	width:86px;
	text-align: center;
}
.cart_nav ul li.li2{
	text-indent: 140px;
}
.one_shop ul li.li1{
	line-height:130px;
}
.one_shop ul li.li2 img{
	width: 130px;
	height:130px;
	float: left;
	border: 1px solid #ddd;
}
.one_shop ul li.li2 p.title{
	padding-top: 16px;
}
.one_shop ul li.li2 p{
	float: left;
	width: 236px;
	line-height:24px;
	margin-left: 6px;
}
.one_shop ul li.li2 a:hover{
	color: #28aece;
}
.one_shop ul li.li3{
	line-height:24px;
	padding-top: 16px;
}
.one_shop ul li.li3 del{
	display: block;
	font-size:13px;
}
.one_shop ul li.li3 span{
	font-size:15px;
}
.one_shop ul li.li4{
	padding-top: 16px;
	height: 28px;
	line-height: 28px;
}
.one_shop ul li.li4 p.set_p {
	border: 1px solid #ddd;
	width: 108px;
}
.one_shop ul li.li4 p.set_p > span {
	background: #ededed;
	float: left;
	width: 28px;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
}
.one_shop ul li.li4 p.set_p > input {
	width: 50px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	float: left;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.one_shop ul li.li4 p.set_p > span {
	background: #ededed;
	float: left;
	width: 28px;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
}
.one_shop ul li.li5{
	padding-top: 16px;
	color: red;
	font-weight: 400;
	font-size:16px;
}
.one_shop ul li.li6{
	padding-top: 16px;
	cursor: pointer;
}
.one_shop ul li.li6 span{
	display: block;
	text-align: left;
}
.settlement{
	height:60px;
	line-height:60px;
	background: #efeeee;
	text-align: right;
	margin-top: 40px;
}
.settlement> i{
	font-style: normal;
	color: #8d8d8d;
}
.settlement span{
	color: red;
	font-size:20px;
	margin-left: 6px;
}
.settlement span i{
	font-style: normal;
	font-size:14px;
}
.settlement a{
	display: inline-block;
	text-align: center;
	background: #28aece;
	width: 130px;
	font-size:16px;
	vertical-align: super;
	color: #fff;
	margin-left: 6px;
}
.settlement p{
	margin-left: 20px
}
.settlement p span{
	font-size: 14px;
	color: #000;
}
.settlement >span.settlement_total{
	color: #000;
	font-size:14px;
}
.company{
	height: 40px;
	line-height: 40px;
	color: #383838;
	border: 1px solid #ddd;
	border-bottom: none;
}
.company input[type=checkbox]{
	/*margin-left: -42px;
	margin-right: 10px;*/
	margin: 0 10px;
}
.companybox{
	border: 1px solid #ddd;
}
.companybox .one_shop{
	margin-bottom: 0;
}

.type_item{
	margin: 10px 0;
}
.type_item select{
	width: 200px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ddd;
}
/*科研基金*/
.found{
	margin: 10px 0;
}
.found input{
	margin-right: 1em;
}
.found span i{
	color: #ff0000;
	padding: 0 10px;
}
.chice-item{
	line-height: 40px;
}
.chice-item >input{
	margin:0 5px;
}